<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <style>
        .container-1720{
            max-width: 1720px;
            padding-left: 20px;
            padding-right: 20px;
        }

        [x-cloak] { display: none !important; }

        .progress{
            animation: progress 3000ms linear forwards;
        }

        @keyframes progress {
            0% { width: 50%; }
            100% { width: 100%; }
        }

    </style>

</head>
<body class="bg-gray-400">
    <h1 class="text-2xl my-10 text-center underline">Components</h1>

    <section name="dropdown-component" class="container-1720 mx-auto my-5">

        <h2 class="text-xl mb-5">1. dropdown component</h2>

        <div x-cloak x-data="{ open: false }" class="py-2">
            <button type="button"
                    @click="open = !open"
                    class="inline-flex items-center py-2 px-6 bg-purple-600 hover:opacity-90 text-white rounded-md shadow">
                <p>toogle</p>
                
                <svg :class="open ? 'rotate-0' : ''" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 ml-1 -rotate-90 transition-all">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>                
            </button>

            <ul x-show="open" @click.outside="open = false" class="bg-white w-[160px] shadow py-1">
                <li>
                    <a href="#open" class="py-1 px-2 flex w-full items-center hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                          
                        Open
                    </a>
                </li>

                <li>
                    <a href="#edit" class="py-1 px-2 flex w-full items-center hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>                   

                        Edit
                    </a>
                </li>
                
                <li>
                    <a href="#delete" class="py-1 px-2 flex w-full items-center hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>                          

                        Delete
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <section name="modal-component" class="container-1720 mx-auto my-5">
        <h2 class="text-xl mb-5">2. modal component</h2>

        <div x-cloak x-data="{ open: false }" class="py-2">
            
            <button x-on:click="open = !open" class="inline-flex items-center py-2 px-6 bg-purple-600 hover:opacity-90 text-white rounded-md shadow" type="button">
                toogle modal
            </button>

            <!-- backdrop -->
            <div x-show="open" class="bg-white/50 flex items-center justify-center transition-all z-10 fixed top-0 left-0 w-full h-full">
                <div @click.outside="open = false" class="bg-white rounded-xl w-10/12 mx-auto">
                    
                    <div class="mb-1 px-3 bg-gray-300 rounded-t-xl flex items-center justify-between">
                        <!-- Modal tital -->
                        <p class="text-2xl font-medium">Modal tital</p>
                        
                        <svg x-on:click="open = false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-red-700">
                            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                          
                    </div>
                    
                    <div class="mb-1 px-3">
                        <!-- Modal body -->
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.
                    </div>
                    
                    <div class="flex flex-row rounded-b-xl bg-gray-300 px-3 py-3">
                        <!-- Modal footer -->
                        <button x-on:click="console.log('modal-accepted');" class="bg-green-600 hover:opacity-85 p-2 text-white rounded mr-1" type="button">Accept</button>

                        <button x-on:click="console.log('modal-canceled');" class="bg-gray-600 hover:opacity-85 p-2 text-white rounded mr-1" type="button">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section name="tab-component" class="container-1720 mx-auto my-5">
        <h2 class="text-xl mb-5">3. tabs component</h2>

        <div x-cloak x-data="
            { tabs: ['home','user','settings','order'], 
            activeTab : 'home' }">

            <div class="flex transition-all">
                <template x-for="tab in tabs" :key="tab">
                        <p x-on:click="activeTab = tab" :class="activeTab === tab ? 'border-purple-500 bg-black text-white' : 'bg-white text-black'" class="hover:bg-green-400 p-2 border border-blue-300 hover:opacity-85 hover:text-blue-900 transition capitalize cursor-default" x-text="tab"></p>
                </template>
            </div>

            <!-- home-tab-content -->
            <div x-show="activeTab === 'home'" class="bg-white p-2 border-b shadow transition-all">
                <span class="block text-xl font-bold">home tab content,</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.
            </div>

            <!-- user-tab-content -->
            <div x-show="activeTab === 'user'" class="bg-white p-2 border-b shadow transition-all">
                <span class="block text-xl font-bold">User tab content,</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.
            </div>

            <!-- settings-tab-content -->
            <div x-show="activeTab === 'settings'" class="bg-white p-2 border-b shadow transition-all">
                <span class="block text-xl font-bold">Settings tab content,</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.
            </div>

            <!-- settings-tab-content -->
            <div x-show="activeTab === 'order'" class="bg-white p-2 border-b shadow transition-all">
                <span class="block text-xl font-bold">Order tab content,</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.
            </div>

        </div>


    </section>

    <section name="modal-component" class="container-1720 mx-auto my-5">
        <h2 class="text-xl mb-5">4. accordion component</h2>

        <div x-data="{
                        items : [
                            { title : 'Item 1' , body : 'Body 1 lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.'},
                            { title : 'Item 2' , body : 'Body 2 lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.'},
                            { title : 'Item 3' , body : 'Body 3 lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.'},
                            { title : 'Item 4' , body : 'Body 4 lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto esse, consectetur corporis vitae ea tenetur necessitatibus aliquam est, quis exercitationem delectus itaque ex voluptatum assumenda ut aspernatur ipsam? Veniam, blanditiis.'}
                        ],
                        activeItem : null,
                        selectItem(item){
                            if(this.activeItem === item){
                                this.activeItem = null;
                            }else{
                                this.activeItem = item;
                            }
                        }
                    }">

            <template x-for="item in items" :key="item">
                <div>
                    <div    x-on:click="selectItem(item)"
                            class="bg-white border-b border-black/50 px-3 text-xl font-medium flex justify-between items-center cursor-pointer transition-all">
                        <p x-text="item.title"></p>

                        <svg :class="activeItem === item ? 'rotate-90' : ''" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4 transition-all">
                            <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                        </svg>
                          
                    </div>

                    <div    
                            x-show="activeItem === item"
                            x-text="item.body" class=" bg-white border-b border-black/70 px-3">
                    </div>
                </div>
            </template>

        </div>
    </section>

    <section name="notification-component" class="container-1720 mx-auto my-5">

        <h2 class="text-xl mb-5">5. notification component</h2>

        <div    x-data="{ 
                    visible : true ,
                    timeout : 3000 }"
                
                x-init="setTimeout(() => { 
                            visible = false 
                            }, timeout); 
                            
                        $watch('visible', value => { 
                        if(value == true) setTimeout(() => { visible = false }, timeout); 
                        })"
             
                class="">
            
            <button x-on:click="visible = true" class="p-3 bg-yellow-400 hover:opacity-80 mb-4 rounded-lg" type="button">show noti button</button>

            <div x-show="visible" class="bg-green-400 relative">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" x-on:click="visible = false" class="size-6 absolute top-2 right-2 bg-white">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
                  

                <p class="text-xl font-medium pt-5 pb-2 px-5">Notification title</p>

                <p class="px-5 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequatur distinctio nulla nesciunt alias amet, mollitia quaerat molestiae placeat tempore consequuntur fugit quos neque nobis cumque esse iusto aliquam at?</p>

                <!-- progress -->
                <div :class=" visible ? 'progress' : ''" class="bg-gray-500 min-h-2 rounded-l-lg rounded-r-lg"></div>

            </div>

        </div>
    </section>
</body>
</html>